<section id="about" class="min-h-screen px-6 py-24 lg:px-20 2xl:px-30 flex items-center">
    <article class="mx-auto w-full max-w-7xl grid grid-cols-1 xl:grid-cols-2 gap-10 xl:gap-16 items-center">
        <div class="max-w-2xl">
            <h1 class="font-playfair font-semibold text-white text-3xl sm:text-4xl mb-6">
                ABOUT US
            </h1>

            <p class="text-[#8F8F8F] leading-relaxed text-sm sm:text-base">
                BeardCut nació como un pequeño rincón dedicado a quienes valoran el cuidado personal como un ritual. Nuestro equipo combina técnicas clásicas con estilos modernos para que cada cliente salga con un look que realmente encaje con su identidad. Creemos en la precisión, la experiencia y la comodidad, por eso cada visita está pensada para sentirse como un momento propio, lejos del ruido y las distracciones.
                <br><br>
                En BeardCut no solo nos enfocamos en cortes, sino en crear una experiencia auténtica y cercana. Nuestro espacio está diseñado para que cualquiera se sienta bienvenido, con un ambiente relajado y un servicio atento en cada paso.
            </p>
        </div>

        <img src="/images/about.webp" style="filter: saturate(0);" alt="Barbero de BeardCut realizando un corte de pelo en Oberá, Misiones" class="w-full max-w-2xl xl:ml-auto rounded-sm shadow-xl opacity-75 object-cover h-80 sm:h-105 lg:h-130" />
    </article>
</section>
